################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/czekoladki/.vs/czekoladki/v15
/czekoladki/obj
/czekoladki/czekoladki/bin/Debug
/.vs/
/.vs
/.vs/**
.vs
